// Load Bootstrap core variables and mixins

@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

// Load theme variables

@import "custom-variables.less";
@import "custom-mixins.less";


.form-control {
  border-radius: 0;
  box-shadow: none;
  transition: none;

  &:focus {
    border-color: @brand-gray-dark;
    outline: 0;
    box-shadow: none;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline  {
    color: @brand-lime;
  }

  .form-control {
    border-color: @brand-lime;
    box-shadow: none;

    &:focus {
      border-color: @brand-lime;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px @brand-lime;
    }
  }
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline  {
    color: @brand-violet;
  }

  .form-control {
    border-color: @brand-violet;
    box-shadow: none;

    &:focus {
      border-color: @brand-violet;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px @brand-violet;
    }
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline  {
    color: @brand-red;
  }

  .form-control {
    border-color: @brand-red;
    box-shadow: none;

    &:focus {
      border-color: @brand-red;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px @brand-red;
    }
  }
}

.help-block {
  color: @brand-gray-dark;
}