//
// Variables
// --------------------------------------------------

// Colors

@brand-orange: #ea5b0b;
@brand-gold: #ffd500;
@brand-lime: #65af22;
@brand-aqua: #44bed0;
@brand-blue: #004fa0;
@brand-violet: #841783;

@brand-gray-darker: #444;
@brand-gray-dark: #6f6b6c;
@brand-gray-medium: #aaa7a8;
@brand-gray-light: #ccc;
@brand-gray-lighter: #eee;
@brand-off-white: #f9f9f9;